# Fetch Tweets

The main objective of this notebook is to show how we get the data from Twitter.

In [1]:
# Add project path to the PYTHONPATH

import os
import sys
from pathlib import Path

sys.path.append(Path(os.path.join(os.path.abspath(''), '../')).resolve().as_posix())

In [2]:
from data_fetch.get_tweets import get_tweets

## Hashtags

We can use the hashtags to extract an emotion from the tweet

In [3]:
data = get_tweets('#happy', max_requests=1)

Successfully connected to the Twitter API.
74 #happy tweets

In [4]:
data.head()

,id,date,user,text
0,1146054859197562881,2019-07-02 13:55:45,ivy_overseas,#happy #students for we helped them in achievi...
1,1146054753379586048,2019-07-02 13:55:20,JDayHalo2Litt,#whatyouwant ?.....Just Kill YourSelf #happy #...
2,1146054701689032704,2019-07-02 13:55:08,limetreefs,When a #client is so #happy with your #mortgag...
3,1146054673482358784,2019-07-02 13:55:01,SunningdaleHome,Congratulations to Mr and Mrs Ball to completi...
4,1146054210405879809,2019-07-02 13:53:11,chloesfuntimes,Sorry I missed it guys Iâ€™ll give the lucky guy...

In [10]:
# Example of a tweet containing "#happy"

data.iloc[6].text

'#Happy Tuesday.  â˜•ï¸â¤ï¸â˜•ï¸ \nThere day holiday here.  ğŸ‰ https://t.co/kw4dHF911Q'

## Emoji

Also, it's possible to search for emojis

In [19]:
data = get_tweets('ğŸ˜¡', max_requests=1)

Successfully connected to the Twitter API.
98 ğŸ˜¡ tweets

In [20]:
data.head()

,id,date,user,text
0,1146056649653673985,2019-07-02 14:02:52,noretaiI,@aiomonitors nah Iâ€˜m with friends every dayğŸ˜¡
1,1146056644784054272,2019-07-02 14:02:51,etugman,Utterly disgusting!! ğŸ˜¡ https://t.co/4lm1j0LOnH
2,1146056635963437056,2019-07-02 14:02:49,ilonewol4,MC BCğŸ˜¡ğŸ˜¡ This is the culture we are proud of. h...
3,1146056633044180993,2019-07-02 14:02:48,RosieeeeeeeRBLX,THE TURNED THEIR BACKS!!!!!! ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡ğŸ˜¡
4,1146056632583032832,2019-07-02 14:02:48,7675376666rhon,@Kris_Sacrebleu Complete ğŸ‚ğŸ’©ğŸ˜¡ğŸ˜¡ğŸ˜¡

In [23]:
# Example of a tweet containing "ğŸ˜¡"

data.iloc[1].text

'Utterly disgusting!! ğŸ˜¡ https://t.co/4lm1j0LOnH'